<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <img class="header-img" src="bg_top.jpg" />
        <img class="logo" src="logo.png" />
        <p>Fast, Freqent & Safe Flights</p>
        <div class="login">
            <a href="">
                <img class="login-img" src="home.png" />
                <br>
                <label>Login</label>
            </a>
            <a href="">
                <img class="login-img" src="register_t.png" />
                <br>
                <label>Register</label>
            </a>
        </div>

        <div class="menu">
            <a class="active" href="#">Home</a>
            <a href="#">Book</a>
            <a href="#">Manage Booking</a>

        </div>

    </header>
    <div class="container">
        <p style="text-align: right;"><b>Departure: </b>Hanoi <b> Return: </b>Danang</p>
        <form class="" method="post" action="">
            <h1>1. Slect Departing Flight</h1>
            <p style="font-size: 1.5rem;"><b>Hanoi </b> to <b> Danang</b></p>
            <p style="color:red;font-size: 1.3rem;">13/11/2222</p>
            <div class="detail">
                <div>
                    <p>Departs</p>
                    <p>04:00PM</p>
                </div>
                <div>
                    <p>Departs</p>
                    <p>04:00PM</p>
                </div>
                <div>
                    <p>Departs</p>
                    <p>04:00PM</p>
                </div>
                <div>
                    <br>
                    <p style="color:red;"><b>$134.00</b></p>

                </div>
            </div>
            <p>Note: lectores legere me lius quod ii legunt saepius lorem le inform ad al</p>
            <button type="submit" class="btn-blue" style="float: right;">Save</button>
            </button>
        </form>

    </div>
</body>

</html>