<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <img class="header-img" src="bg_top.jpg" />
        <img class="logo" src="logo.png" />
        <p>Fast, Freqent & Safe Flights</p>
        <div class="login">
            <a href="">
                <img class="login-img" src="home.png" />
                <br>
                <label>Login</label>
            </a>
            <a href="">
                <img class="login-img" src="register_t.png" />
                <br>
                <label>Register</label>
            </a>
        </div>

        <div class="menu">
            <a class="active" href="#">Home</a>
            <a href="#">Book</a>
            <a href="#">Manage Booking</a>

        </div>

    </header>
    <div class="container">
        <div>
            <br>
            <h2 style="color: red; ">eTicket Receipt</h2>
            <hr>
            <p>Prepared For</p>
            <p>Anh, Dinh Tuan</p>
            <p>RESERVATION CODE: <b>13TASS11FF</b></p>
            <p>TICKET ISSUE DATE: 13/11/2222 00:00:00</p>
            <br>
            <h2 style="color: red; ">eTicket Receipt</h2>
            <hr>
            <div class="detail">
                <div>
                    <p>TRALVE DATE</p>
                    <p>13/11/2222 00:00:00</p>
                </div>
                <div>
                    <p>DEPARTURE</p>
                    <p>Hanoi</p>
                    <p>Time: 4:00PM</p>
                </div>
                <div>
                    <p>ARRIVAL</p>
                    <p>Danang</p>
                    <p>Time: 5:30PM</p>
                </div>

            </div>
        </div>



    </div>
</body>

</html>