<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <img class="header-img" src="bg_top.jpg" />
        <img class="logo" src="logo.png" />
        <p>Fast, Freqent & Safe Flights</p>
        <div class="login">
            <a href="">
                <img class="login-img" src="home.png" />
                <br>
                <label>Login</label>
            </a>
            <a href="">
                <img class="login-img" src="register_t.png" />
                <br>
                <label>Register</label>
            </a>
        </div>

        <div class="menu">
            <a class="active" href="#">Home</a>
            <a href="#">Book</a>
            <a href="#">Manage Booking</a>

        </div>

    </header>
    <div class="container">

        <form class="search-bookings-form" method="post" action="">
            <h2 style="color: red; ">Search Bookings</h2>

            <div class="">
                <input type="radio" name="optionSearch" value="reservation" />
                <label>Reservation code</label>
                <input type="radio" name="optionSearch" value="all" />
                <label>All bookings</label>
            </div>
            <br>
            <label>Enter reservation code:</label>
            <input type="text" name="reservationCode" />
            <br><br>

            <button type="submit" class="btn-blue">Search</button>
            </button>
        </form>

    </div>
</body>

</html>