.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.section {
    margin-bottom: 15px;
    border-bottom: 3px dotted #c7c7c7;
}

.wrapper {
    display: flex;
}

.icon {
    margin-right: 15px;
}

.title {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.published {
    font-style: italic;
    font-size: 15px;
}

.detail {
    margin-bottom: 20px;
}

.detail.photo .image {
    width: 100%;
    margin-right: 0;
}

.detail.quote .content {
    width: 60%;
    float: right;
    border-right: 4px solid black;
    padding-right: 15px;
}

.detail blockquote {
    text-align: right;
    font-style: italic;
    font-size: 20px;
}

.author {
    text-align: right;
}