<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--Header-->
    <div>
        <div class="pre-header">
            <img class="img-preheader" src="/template/images/preheader.jpg">
        </div>
        <div class="banner">
            <div class="container">
                <p class="pt-2 pl-5 text-white text-4 font-bold mt-0">My Digital News</p>
            </div>
        </div>
        <nav class="navigation">
            <div class="container">
                <ul class="list-reset my-0 py-2">
                    <li class="text-white pl-5 font-bold">
                        <a href="home" class="text-white in-underline">News</a>
                </ul>
            </div>
        </nav>
    </div>
    <!--Header-->
</body>

</html>